/*@media screen and (max-width: 1500px) {
    .content h1{
      position:absolute !important;
      font-size: 70px !important;
      left: 40% !important;
    }
    .content p{
      position:absolute !important;
      left: 42% !important;
      top: 74% !important;
      width: 900px !important;
      height: 200px;
      font-size: 22px !important ;
    }
    img#pp{
      width: 320px !important;
      height: auto;
      position: absolute !important;
    }
  }*/