@font-face{font-family:'MonaSansExpanded';src:url(/public/assets/font/MonaSansExpanded-Regular.woff2) format("woff2"),url(/public/assets/font/MonaSansExpanded-Regular.woff) format("woff"),url(/public/assets/font/MonaSansExpanded-Regular.ttf) format("truetype")}
@font-face{font-family:'MonaSansMedium';src:url(/public/assets/font/MonaSans-Medium.woff2) format("woff2"),url(/public/assets/font/MonaSans-Medium.woff) format("woff") url(/public/assets/font/MonaSans-Medium.ttf) format("truetype")}
@media screen and (max-width: 700px) {
body{background-color:#001120!important}
}
iframe{
    position: absolute;
top: 10%;
left: 35%;
z-index: 1002;
}
.blur{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    backdrop-filter: blur(20px);
    background-color: #00000090;
}
.indev{
    position: absolute;
    z-index: 1002;
    color: #fff;
    top:75%;
left: 33%;
    font-size: 64px;
}
.indevsoon
{
    position: absolute;
    width: 2000px;
    z-index: 1002;
    color: #fff;
    top:90%;
    left: 22%;
}
html{scroll-behavior:smooth}
::-webkit-scrollbar{background:#212121;background-color:#212121;max-height:2px;width:6px}
::-webkit-scrollbar-thumb{background:#333;border-radius:20px;cursor:grab}
::-webkit-scrollbar-thumb:hover{background:#dfdfdf}
*{margin:0;padding:0}
body{font-family:MonaSansExpanded,serif;line-height:1.6;
    overflow: hidden;}
header{align-items:center;backdrop-filter:blur(5px);background-color:#00000008;box-sizing:border-box;display:flex;height:125px;justify-content:space-between;left:0;padding:10px 100px;position:fixed;top:0;transition:.3s;width:100%;z-index:999}
header.sticky{backdrop-filter:blur(10px);background-color:#00000008;height:55px;transition:.3s}
header.sticky .logo img{height:auto;transition:.6s;width:200px}
header .logo{color:#fff;position:relative;top:0;transition:.6s}
.logo img{height:auto;transition:.6s;width:350px}
header ul{align-items:center;justify-content:center;list-style:none;position:absolute;right:150px}
header ul li{display:inline-block;list-style:none;position:relative}
header ul li a{color:#fff;font-weight:400;letter-spacing:2px;margin:0 15px;opacity:.5;position:relative;text-decoration:none;transition:.6s}
header ul li a:hover{opacity:1;text-shadow:#fff 0 0 10px;z-index:1000}
.switch{display:inline-block;height:17px;position:relative;width:31px}
.switch input{height:0;opacity:0;width:0}
.slider{border:solid #ffffff25 1px;border-radius:34px;bottom:0;cursor:pointer;left:0;position:absolute;right:0;top:0;transition:ease-in .4s}
.slider:before{background-color:#fff;border-radius:50%;bottom:1px;content:"";height:13px;left:1px;opacity:.5;position:absolute;transition:ease-out .4s;width:13px}
input:checked + .slider{backdrop-filter:blur(10px);background-color:#ad5de5af}
input:checked + .slider:before{transform:translateX(14px)}
.content{position:absolute}
.content h1{color:#fff;cursor:default;font-size:70px;justify-content:center;position:relative;right:-1rem;text-align:center;top:14.5rem;width:1100px;z-index:1}
.rolling-text{display:inline-block;height:1.5em;overflow:hidden;position:relative;top:24px;width:800px}
.rolling-text .text{animation:roll 3s ease-in-out infinite;display:flex;height:100%;left:0;position:relative;top:0;width:100%}
@keyframes roll {
0%{opacity:0;transform:translateY(100%)}
10%{opacity:1;transform:translateY(0)}
90%{opacity:1;transform:translateY(0)}
100%{opacity:0;transform:translateY(-100%)}
}
#pp{height:auto;left:75rem;position:relative;top:4rem;width:340px;z-index:0}
#ball{bottom:30rem;height:auto;left:73rem;position:relative;width:120px}
#x{bottom:15rem;height:auto;left:87rem;position:relative;width:20px}
#lines{bottom:10rem;opacity:.12;position:relative;right:9rem}
.vl{border-left:3px solid #fff;height:200px;left:5rem;position:relative;top:-23rem;z-index:0}
.content p{animation:an 1.2s ease-out;color:#fff;cursor:default;font-size:24px;font-weight:200;height:200px;left:9rem;position:relative;top:-33rem;width:1000px;z-index:1}
@keyframes an {
0%{opacity:0}
100%{opacity:1}
}
.social-icons{bottom:38rem;display:flex;gap:25px;left:77.7rem;list-style:none;margin:0;padding:0;position:relative;width:280px}
.social-icons a{color:#fff;display:inline-block;font-size:30px;transition:.4s}
.social-icons a:hover{transform:translateY(-10px)}
section.about{color:#fff;height:auto;left:50%;position:absolute;top:140%;transform:translate(-50%,-50%);width:1000px}
section.about h1{font-size:70px;position:relative;top:4rem;z-index:10}
#stroke{bottom:3rem;left:38rem;position:relative;z-index:11}
section.about p{font-size:18px;font-weight:200}
section.projects{color:#fff;height:auto;left:50%;padding:50px 20px;position:absolute;text-align:center;top:235%;transform:translate(-50%,-50%);width:600px}
section.projects h1{font-size:70px;left:-41%;margin:10px;position:relative;top:20px;z-index:11}
#arrow{bottom:4rem;filter:invert(1%);height:auto;left:12rem;position:relative;width:400px;z-index:10}
section.projects .project{background:#0000001c;border-radius:8px;margin:20px 0;margin-bottom:20px;padding:20px;text-decoration:none;transition:.3s}
section.projects .project:hover{background:#0000002e}
section.projects h3{align-items:center;display:flex;font-size:18px;justify-content:center;margin:10px 0;text-decoration:none}
section.projects a h3{color:#fff;text-decoration:none;transition:.3s}
section.projects img{filter:invert(100%);height:auto;margin-left:10px;width:50px}
.contact-me{height:auto;left:50%;max-width:800px;padding:50px;position:absolute;top:350%;transform:translate(-50%,-50%);width:1000px}
.contact-me h2{color:#fff;font-size:70px;left:-6%;position:relative;z-index:11}
#dots{bottom:6rem;left:9rem;position:relative;z-index:10}
#taxi{bottom:6.7rem;height:auto;left:1.35rem;position:relative;width:20px;z-index:998}
.contact-me form{display:flex;flex-direction:column}
.contact-me label{color:#fff;margin-bottom:10px}
.contact-me input[type="text"],.contact-me input[type="email"],.contact-me textarea{background:#0000001c;border:none;border-radius:6px;box-sizing:border-box;color:#fff;font-family:MonaSansExpanded;margin-bottom:20px;padding:12px;resize:none;width:100%}
.contact-me input[type="submit"]{background:linear-gradient(90deg,#1271ff,#6b4aff,#6464ff,#32a0dc);background-size:300%;border:none;border-radius:30px;color:#fff;cursor:pointer;font-family:inherit;font-size:14px;height:3em;left:85%;line-height:2em;position:relative;text-align:center;text-decoration:none;width:9em;z-index:1}
.contact-me input[type="submit"]:hover{animation:ani 8s linear infinite;border:none}
.contact-me input[type="submit"]:before{background:linear-gradient(90deg,#1271ff,#6b4aff,#6464ff,#32a0dc);background-size:400%;border-radius:35px;bottom:-5px;content:"";left:-5px;position:relative;right:-5px;top:-5px;transition:1s;z-index:-1}
.contact-me input[type="submit"]:hover::before{filter:blur(20px)}
.contact-me input[type="submit"]:active{background:linear-gradient(32deg,#1271ff,#6b4aff,#6464ff,#32a0dc)}
@keyframes ani {
0%{background-position:0}
100%{background-position:400%}
}
footer{background:#212121;color:#fff;letter-spacing:.5px;padding:1rem 0;text-align:center;z-index:999}
footer .waves{position:relative}
footer .wave{background:url(/public/assets/img/wave.png);background-size:1000px 100px;height:100px;left:0;position:absolute;top:-100px;width:100%}
footer .wave#wave1{animation:animateWave 4s linear infinite;bottom:0;opacity:1;z-index:800}
footer .wave#wave2{animation:animateWave_02 4s linear infinite;bottom:10px;opacity:.7;z-index:799}
footer .wave#wave3{animation:animateWave 4s linear infinite;bottom:15px;opacity:.5;z-index:800}
footer .wave#wave4{animation:animateWave_02 3s linear infinite;bottom:20px;opacity:.3;z-index:799}
@keyframes animateWave {
0%{background-position-x:1000px}
100%{background-position-x:0}
}
@keyframes animateWave_02 {
0%{background-position-x:0}
100%{background-position-x:1000px}
}
#pyramid{bottom:1.4rem;height:auto;left:11rem;position:relative;width:20px;z-index:998}
.social-icon-footer,.footer-menu{align-items:center;display:flex;flex-wrap:wrap;justify-content:center;margin:10px 0;position:relative}
.social-icon-footer li,.footer-menu li{list-style:none}
.social-icon-footer li a{color:#fff;display:inline-block;font-size:2em;margin:0 10px;transition:.2s}
.social-icon-footer li a:hover{transform:translateY(-10px)}
.footer-menu li a{color:#fff;display:inline-block;font-family:'Montserrat',sans-serif;font-size:1.2em;margin:0 10px;opacity:.5;opacity:.75;padding:0 0 10px;text-decoration:none;transition:.6s}
.footer-menu li a:hover{opacity:1;text-shadow:#fff 0 0 2px}